{layout 'layout.latte'}

{block content}
    <h1>
        {if $username}
            Hello {$username}!
        {else}
            Hello Guest!
        {/if}
    </h1>

    {if $username}
        <p><a href="/logout">Sign Out</a></p>
    {else}
        <p><a href="/login">Sign In</a></p>
    {/if}
{/block}
