{layout 'layout.latte'}

{block content}
    <h1>Login</h1>
    <p>Click the button below to sign in:</p>
    <form action="/login" method="get">
        <button type="submit">Sign In</button>
    </form>
{/block}
