<!DOCTYPE html>
<html>
    <head>
        <title>Cookie Auth</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {if isset($flash_message)}
            <p style="color: green;">{$flash_message}</p>
        {/if}
        {include content}
    </body>
</html>
